* {
    margin: 0;
    padding: 0;
    border: 0;
}

#canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
}

svg {
    background-image: -webkit-linear-gradient(right, #FC7864, #FDA366);
    background-image: -moz-linear-gradient(right, #FC7864, #FDA366);
    background-image: -o-linear-gradient(right, #FC7864, #FDA366);
    background-image: -ms-linear-gradient(right, #FC7864, #FDA366);
    background-image: linear-gradient(right, #FC7864, #FDA366);
    margin-left: auto;
    margin-right: auto;
}

rect:hover {
    fill: orangered !important;
    transition: fill .0s;
}

rect {
    fill: white !important;
    transition: fill 3s ease-in-out;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
}